<form action="<%= sent_mail_path %>" method="post" enctype="multipart/form-data">
    <div class="card-body">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Upload CSV File<span style="color: red;">*</span></label>
            <div class="col-sm-10">
                <input type="file" name="csv_file" class="form-control" accept=".csv" required>
            </div>
        </div>
    </div>
    <div class="card-footerrr">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>