<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

        <div id="emailHelp" class="form-text">
            <strong>Note:</strong> Please enter the email address by coma(,) seprated.
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>